body{
	background: url("./img/triangle.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    overflow:hidden;
	font-family: 'Merriweather', serif;
}

.navbar{
	
}

#articles{
	border: solid 5px black;
	background-color: white;
}